.projects-container {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

.projects-title {
  width: 13%;
  font-size: 1em;
  text-align: center;
}

.projects-body {
  width: 87%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  width: 80%;
  margin-top: 50px;
}

.project-card {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 50px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 0px #999;
  border: 5px solid black;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px black;
  border: 6px solid black;
  z-index: 1;
}

.project-card-header,
.project-card-footer {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to bottom, whitesmoke, white);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-small;
  text-align: center;
}

.project-card-header {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.project-card-footer {
  background-image: linear-gradient(to top, whitesmoke, white);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.project-card-body {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  color: grey;
}

.thumbnail {
  height: 30%;
  padding: 5%;
}

.thumbnail img {
  height: 100%;
  width: auto;
}

.description {
  height: 70%;
  margin-top: 10%;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column-reverse;
  }
  .projects-title {
    width: 100%;
    padding-left: 0;
    padding-right: 0%;
    padding-top: 20px;
    text-align: center;
  }
  .projects-cards {
    width: 100%;
    height: auto;
  }
}
